<main class="container mt-5">
  <section class="text-center">
    <img src="/images/image.jpg" alt="Your Name" class="rounded-circle mb-3" style="max-width: 200px;">
    <link rel="stylesheet" href="/styles.css"> 
    <h1>About Me</h1>
    <p class="lead">Karnan Yogarajah</p>
  </section>


  <section class="mt-4">
    <p>
      I'm a Student at Ontario Tech University pursuing a degree in IT & Network Security. My passion lies in web development, particularly with technologies like Express, Node.js, and JavaScript.
    </p>
    <p> 
      I enjoy creating efficient and user-friendly web applications that solve real-world problems. My goal is to continuously improve my skills and stay updated with the latest trends in web development and Network Security.
    </p>
    <p>
      Through my academic journey, I've gained hands-on experience in building dynamic web applications and enhancing user experiences. I'm eager to apply my skills in real-world scenarios and continue learning about the ever-evolving landscape of web technologies. 
    </p>
    <p>
        I'm excited to connect with like-minded individuals and explore opportunities in the tech industry. Feel free to reach out to me through the contact page!
    </p>
  </section>
</main>
