<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <header>
        <h1>My Projects</h1>
    <main>
        <section>
            <h2>Project 1: Networking Packet Tracer Part 1</h2>
            <p>In this project we had to simulates a small-to medium-sized business network using Cisco Packet Tracer. It demonstrates how different network devices, like routers, switches, and PCs, can be configured and connected to create a functional and efficient network. The simulation includes key network services such as DHCP,DNS, and web hosting, showcasing how these elements work together to provide seamless connectivity and resource access.</p>
        </section>
        <section>
            <h2>Project 2: Network Packet Tracer Part 2 </h2>
            <p>This project simulates the network infrastructure of a Vancouver branch office. The network includes a 2960 2XTT Switch an ISR4331 Router 1, providing connectivity for a various services. The branch network hosts essential servers, including a DNS server, an Intranet website, and an network setup for business operation.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Karnan Yogarajah, All rights reserved.</p>
    </footer>
</body>
</html>